<div id="login-panel" class="panel panel-default">
  <div class="panel-heading">
    <p>Editing Server: <%= @server.name %></p>
  </div>
  <div class="panel-body">
    <%= render 'form', server: @server %>

    <%= link_to 'Show', @server %> |
    <%= link_to 'Back', servers_path %>
  </div>
</div>
