<div id="login-panel" class="panel panel-default">
  <div class="panel-heading">
    <p>New Server</p>
  </div>

  <div class="panel-body">
    <%= render 'form', server: @server %>

    <%= link_to 'Back', servers_path %>
  </div>
</div>
