.content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.alert {
  border-radius: 0;
}

nav.navbar-default {
  background-color: red;
	min-height: 70px;
}

nav.navbar-default a {
  color: #fff !important;
	line-height: 70px;
}
body > div.container-fluid.site-wrapper > nav > div > div.navbar-header > a {
	font-size: 25px;
	margin-left: 20px;
}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  font-size: 15px;
}

.panel-default .panel-heading {
  background-color: red;
}

#login-panel {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.panel-default .panel-heading > p {
  color: #fff;
  margin: 0;
}

#login-button, #create-server {
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

#user_email, #user_password, #user_password_confirmation, #login-button, #server_name, #server_hostname, #server_port, #create-server {
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.inline-remember, .controls {
	display: inline-block;
}
